@model USP_Application.ViewModels.ClientFormViewModel
@{
    ViewBag.Title = Model.Client.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<ul>
    <li>Name : @Model.Client.Name</li>
    <li>Gender : @Model.Client.Gender</li>
    <li>City : @Model.Client.City.Name</li>
    <li>Area : @Model.Client.Area.Name</li>
    <li>Address : @Model.Client.Address</li>
    <li>Email : @Model.UserLogin.Email</li>
    <li>Phone : @Model.UserLogin.Phone</li>
</ul>

<div style="margin-top:20px;">
    @*<a href="/Client/Edit/@Model.UserLogin.Id"><button style="margin-left:25px;min-width: 77px;" class="btn btn-warning">Edit</button></a>*@
    <a href="/Client/Remove/@Model.UserLogin.Id" onclick="return confirm('Are you sure to delete this client?');"><button style="margin-left:10px;" class="btn btn-danger">Delete</button></a>
</div>